@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using HowsGoing.Controllers;
@using HowsGoing.Models;
@using Microsoft.AspNetCore.Mvc;
@using MySqlConnector;
@using System.Data;
@using System.Diagnostics;


<h3 style="padding-top: 20px">
    These are your logs:
</h3>

<div style="padding: 75px">
    <table>
        <tr>
            <th>Message</th>
            <th>Satisfaction</th>
        </tr>
        @foreach(Record record in ViewBag.records){ 
            <tr>
                <td>@record.record_content</td>
                <td>@record.satisfaction</td>
            </tr>
        }
    </table>
</div>
  